.heropage{
    @include flex(center, center, row);
    width: 80%;
    margin: auto;
    height: 600px;
    .first-page{
        width: 80%;
        margin-right: 50px;
    }
    .fontmain{
        font-size: $font-main;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-weight: 700;
        color: #3A4052;
    }
    .text-section{
        margin-top: 40px;
        text-align: justify;
        h3{
            font-size: 30px;
            font-weight: 400;
            color: #3A4052;
        }
        p{
            font-size: 22px;
            font-weight: 300;
            color: rgba(58, 64, 82, 0.75);
        }
    }
    .btn{
        background-color: $secondary;
        border-radius: 20px;
        color: $text-color;
        padding: 15px 45px;
        margin-top: 50px;
        border: none;
    }
    .gradient{
        width: 585px;
        height: 8px;
        background: linear-gradient(to right, rgba(20, 80, 157, 1), rgba(29, 87, 161, 0.5), rgba(227, 234, 243, 0.1));
    }                                       
    .half-page{
        position: relative;
        width: 635px;
        height: 300px;
        margin: auto;
        margin-left: 50px;
        .big-pic{
            background-color: $secondary;
            height: 300px;
            width: 100%;
            position: absolute;
        }
        .image{
            width: 100%;
            height: 300px;
            position: absolute;
            right: 15px;
            top: 15px;
        }
        .play{
            position: absolute;
            top: 30%;
            left: 42%
        }
        .btn-1{
            display: none;
        }
    }
}

.video-container {
    position: relative;
    width: 100%;
    height: 400px; // Adjust this height as needed
  
    .video-thumbnail {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  
    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      padding: 1rem;
      cursor: pointer;
  
      button {
        background: transparent;
        border: none;
      }
  
      .play-icon {
        width: 50px;
        height: 50px;
        stroke: white;
      }
    }
  
    .video-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8); 
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
  
      .video-player {
        width: 80%;
        height: auto;
        max-height: 80vh;
      }
  
      .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: transparent;
        border: 2px solid white;
        color: white;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 1.2rem;
      }
    }
  }

@media screen and (max-width: 425px) {
    .heropage{
        height: 450px;
        width: 100%;
        max-width: 320px;
        margin-top: 40px;
        @include flex(start,center,column);
        .first-page{
            margin-right: 0px;
            width: 100%;
            .fontmain{
                font-size: 14px;
                font-weight: $font-weight;
            }
            .gradient{
                width: 200px;
                height: 3px;
                background: linear-gradient(to right, rgba(20, 80, 157, 1), rgba(29, 87, 161, 0.5), rgba(227, 234, 243, 0.1));
            }  
            .text-section{
                text-align: justify;
                margin-top: 20px;
                h3{
                    font-size: 12px;
                    font-weight: 600;
                    color: #3A4052;
                }
                p{
                    font-size: 10px;
                    font-weight: 400;
                    color: rgba(58, 64, 82, 0.75);
                }
            }
            .btn{
                display: none;
            }
        }
        .half-page{
            width: 100%;
            margin-left: 0px;
            margin: 0;
            height: 100%;
            margin-top: 20px;
            .big-pic{
                display: none;
            }
            .image{
                width: 100%;
                height: 195px;
                position: static;
            }
            .play{
                position: absolute;
                top: 35%;
                left: 47%;
                img{
                    width: 28px;
                    height: 28px;
                }
            }
            .btn-1{
                display: block;
                background-color: $secondary;
                border-radius: 20px;
                color: $text-color;
                padding: 7px 20px;
                margin-top: 20px;
                border: none;
                font-size: 9px;
            }
        }
    }
}
